*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ============== Custom Properties =============== */

:root {
    /* font families */
        --ff-primary: 'Josefin Sans', sans-serif;
    /* font weights */
        --fw-thin: 300;
        --fw-reg: 400;
        --fw-bold: 600;
        --fw-bolder: 700;
    /* font sizes */
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.25rem;
        --fs-body: 1rem;
     /* colors     
        --clr-dark: #272121;
        --clr-bright: #FF0000;
        --clr-accent: #443737;
        --clr-light-1: #FF4D00;
        --clr-light-2: #4D96FF; */
    /* colors */
        --clr-dark: #0F2C67;
        --clr-bright: #CD1818;
        --clr-accent: #F3950D;
        --clr-light-1: #F4E185;
        --clr-light-2: #4D96FF; 
    /* box shadow */
    
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/* ============== General styles =============== */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

img {
    max-width: 100%;
    border-radius: 7px;
}

section {
    padding: 5em 2em;
}

/* ============== Typography =============== */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.nav-link {
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-h2);
    font-weight: var(--fw-thin);
}

.nav-link:hover, .nav-link:focus {
    color: var(--clr-light-2);
    cursor: pointer;
}

.intro-section-title {
    font-weight: 300;  
    margin-bottom: .35em;
}

.name {
    font-weight: var(--fw-bold);
    display: block;
}

.intro-section-subtitle {
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    font-size: var(--fs-h3);
    padding: 0.35em;
}

.about-section-subtitle {
    text-align: center;
}

/* ============== Header =============== */

nav {
    background-color: var(--clr-accent);
    border-left: 3px solid var(--clr-light-2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 100; */
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1)
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-bright);
    width: 3em;
    height: 4px;
    border-radius: 1em;
    transition: transfrom 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { 
    top: 10px;
}

.hamburger::after { 
    bottom: 10px;
}

.nav-open nav {
    visibility: unset;
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    background-color: #4D96FF;
    transform: rotate(.625 turn);
}

.nav-open .hamburger::before {
    background-color: var(--clr-light-2);
    transform: rotate(90deg) translate(-10px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

@media (min-width: 720px) {
    nav {
        visibility: hidden;
        left: 70%;
        width: 30%;
    }

}
/* ============== Intro =============== */

.intro {
    position: relative;
}

.intro-section-subtitle {
    margin: 0;
}

@media (min-width: 700px) {
    .intro {
        display: grid;
        grid-template-areas: 
        "img title"
        "img subtitle"
        ;
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
    }
   
    .intro-section-subtitle {
        align-self: start;
        grid-column: -1, 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -10em;
        width: calc(100% + 10em);
    }

    .intro-img {
        min-width: 200px;
        grid-area: img;
        position: relative;
        
    }
}

/* ============== About =============== */
/* ======= this needs to be in a media query ======== */


.developer {
    margin: 0 auto;  
    margin-bottom: 2em;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    width: 350px;
    margin: 0 auto;
    padding: 1em 2em;
    place-items: center;
}

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 800px) {
    .about {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-child {
        max-width: 500px;
    }


    .about-child + .about-child {
        margin-left: 5em;
    }

    

}


/* ============== Projects =============== */

.project {
    background-color: var(--clr-bright);
    border: 1px solid white;
    width: 400px;
    height: 400px;
    margin: 0;
}

@media (min-width: 750px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* ============== Footer =============== */
/* ============== =============== */
/* ============== =============== */
/* ============== =============== */
/* ============== =============== */
