*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ============== Custom Properties =============== */

:root {
    /* font families */
        --ff-primary: 'Josefin Sans', sans-serif;
    /* font weights */
        --fw-thin: 300;
        --fw-reg: 400;
        --fw-bold: 600;
        --fw-bolder: 700;
    /* font sizes */
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.25rem;
        --fs-body: 1rem;
    /* colors */
        --clr-dark: #0F2C67;
        --clr-bright: #E7903C;/*#F64747;*/
        --clr-accent:   #FC6399;/*#F89406;*/
        --clr-light-1: #F4E185;
        --clr-light-2: #4D96FF; 
    /* box shadow */
    
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/* ============== General styles =============== */

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 4em 2em ;
    overflow-x: hidden;
    max-width: 1300px;
}

/* ============== Typography =============== */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.nav-link {
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-h2);
    font-weight: var(--fw-thin);
}

.nav-link:hover, .nav-link:focus {
    opacity: .65;
    cursor: pointer;
}

.intro-section-title {
    font-weight: 300;  
    margin-bottom: 0;
}

.name {
    font-weight: var(--fw-bold);
    display: block;
    color: var(--clr-bright);
}

.intro-section-subtitle {
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding: 0.4em;
    margin-bottom: 2em;
}


.about-heading {
    align-self: center;
    color: var(--clr-bright);
}

.about-section-subtitle {
    font-size: var(--fs-h3);
    color: var(--clr-bright);
}

.project-section-title {
    color: var(--clr-bright);
}

.project-section-subtitle {
    margin-bottom: 2em;
}

.project-section-title, .project-section-subtitle {
    align-self: flex-start;
}

@media screen and (min-width: 800px) {
    .project-section-title, .project-section-subtitle {
        align-self: center;
    }
    
}

/* ============== Header =============== */

nav {
    background-color: var(--clr-accent);
    opacity: .95;
    border-left: 3px solid var(--clr-light-2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1)
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin: 0;
    padding: 2em;
    list-style: none;

}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 2em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-bright);
    width: 3em;
    height: 4px;
    border-radius: 1em;
    transition: transfrom 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { 
    top: 10px;
}

.hamburger::after { 
    bottom: 10px;
}

.nav-open nav {
    /*visibility: unset;*/
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    background-color: #4D96FF;
    transform: rotate(.625 turn);
}

.nav-open .hamburger::before {
    background-color: var(--clr-light-2);
    transform: rotate(90deg) translate(-10px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

@media (min-width: 720px) {
    .nav-open nav {
        transform: translateX(70%);
    }


}
/* ============== Intro =============== */

.intro {
    position: relative;
}

.intro-section-subtitle {
    margin: .5em 0;
    display: inline-block;
}


@media (min-width: 700px) {
    .intro {
        display: grid;
        grid-template-areas: 
        "img title"
        "img subtitle"
        ;
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
    }
   
    .intro-section-subtitle {
        align-self: start;
        grid-column: -1, 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -12em;
        width: calc(100% + 12em);
    }

    .intro-img {
        min-width: 200px;
        grid-area: img;
        position: relative;
        
    }
}




/* ============== About =============== */
/* ======= this needs to be in a media query ======== */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-bold);
    line-height: 1.5rem;
}

.developer {
    margin-bottom: 2em;
    text-align: left;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    place-items: center;
    margin-top: 3em;
}

.icon-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.about-section-subtitle {
    align-self: flex-start;
}

@media (min-width:900px) {
    .about {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width: 1200px;

    }

    .developer {
        display: flex;
        flex-direction: column;
    }

    .technologies {
        align-self: flex-start
    }

    .about-child {
        margin-left: 3em;
    }

    .about-section-subtitle {
        margin: 0;
        align-self: center;
    }

    .about-child + .about-child {
        margin-left: 8em;
    }

}


/* ============== Projects =============== */

.portfolio {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    grid-gap: .75em;
}

.project {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 350px;
    position: relative;
}

.middle {
    opacity: 0.75;
    position: absolute;
    left: 3em;
    right: 3em;
    top: 12.5%;
    text-align: center;
    align-self: flex-end;
}

.project-text {
    background-color: var(--clr-dark);
    color: white;
    padding: .75em 2em;
}

.project:hover .middle {
    opacity: 1;
}

.accent {
    background-color: var(--clr-accent);
}

.portfolio-img {
    width: 100%;
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio-img:hover, .portfolio-img:focus {
    transform: scale(1.2);
    opacity: .75;
}

@media (min-width: 800px) {
    .portfolio {
        align-items: unset;
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
    }
}

/* ============== Footer =============== */


footer {
    padding: 4em 2em 1em;
    text-align: center;
    font-size: var(--fs-h3);
    color: var(--clr-accent);
}

.invitation {
    margin-bottom: 2em;
    line-height: 1.4em;
}

.contact-info {

}

.email {
    text-decoration: none;
    color: var(--clr-bright);
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-icon {
    margin: 0 .5em;
}

.social-link {
    
    padding: .5em;
}  

footer a {
    color: inherit;
}

footer a:hover, footer a:focus {
    opacity: .6;
}

@media (min-width: 750px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}
/* ============== =============== */
/* ============== =============== */
/* ============== =============== */
/* ============== =============== */
